---
layout: page
title: Food
permalink: /food/
sitemap:
    priority: 1.0
    changefreq: 'monthly'
    lastmod: 2015-04-03T23:05:14
---

<h2>Parce qu'un informaticien doit se nourrir (Coming soon)</h2>

<div class="home">
    <ul class="posts">
        {% for post in site.posts %}
            {% if post.categories contains "food" %}
                <li>
                    <span class="post-date">{{ post.date | date: "%Y/%m/%d" }}</span>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
