---
layout: default
---
<div class="home">

    <h1>Posts</h1>

    <ul class="posts">
        {% for post in site.posts %}
        <li>
            <span class="post-date">{{ post.date | date: "%Y/%m/%d" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            {% for category in post.categories %}
                <img src="/images/categories/{{ category }}.png" class="category" alt="{{ category }}">
            {% endfor %}
        </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe
        <a href="http://feeds.feedburner.com/github/AkZi">via RSS</a>
    </p>

</div>
