---
layout: default
comments: true
---

<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@BitardMichael" />
    <meta property="twitter:title" content="{{ page.title }}" />
    <meta property="twitter:description" content="{{ content | strip_html | truncatewords: 40 }}" />
    <meta property="twitter:image" content="{{ page.image }}" />

    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
    <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />

    <header class="post-header">
        <h1 itemprop="name">{{ page.title }}</h1>
        <time class="meta" itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.lastmod != null %}
          <span class="meta">, edited on </span><time class="meta" itemprop="dateModified" datetime="{{ page.lastmod | date: '%Y-%m-%d' }}">{{ page.lastmod | date: "%b %-d, %Y" }}</time>
        {% endif %}
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div id="social_sharing">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.socialmessage }}" data-hashtags="{{ page.tags | join: ',' }}">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'agileek';
        (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the
        <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by
        <span class="logo-disqus">Disqus</span>
    </a>

</article>
